---
import Main from "@/components/Main";
import IndexPage from "@/components/pages/IndexPage";
import App from "@/pages/_app";
---

<html lang="en">

<head>
  <meta name="theme-color" content="#000000" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/manifest.json" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Yuri Koshiishi | Portfolio</title>
  <meta name="description"
    content="Thank you for visiting Yuri Koshiishi Portfolio. Please feel free to contact me anytime." />
</head>

<body>
  <App>
    <IndexPage>
      <Main client:load />
    </IndexPage>
  </App>
</body>

</html>