html {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  background: linear-gradient(
      135deg,
      rgb(2, 88, 255) 0%,
      rgb(50, 189, 233) 100%
    )
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
